# Ignore all __pycache__ directories
__pycache__/

# Ignore everything under mlruns/
mlruns/*
logs/*

# Exclude results directory from being tracked
!mlruns/results/
!logs/

# Ignore everything inside results
mlruns/results/*
logs/*


data/*
artifacts/*